<footer class="c-main-footer">
  <div class="l-container l-wrap u-spacing--triple">
    <div class="c-main-footer__inner">
      <div class="c-main-footer__col1 u-spacing--triple">
        <div class="c-main-footer__branding">
          <div class="c-main-footer__logo">
            <a href="https://gothamist.com">
              {{> svgs/gothamist-stacked}}
            </a>
          </div>
          <div class="c-main-footer__utility">
            <a href="mailto:tips@gothamist.com" class="c-main-footer__send-story u-font--secondary-style u-font--xs"><strong>Send Us a Story Idea</strong></a>
            <div class="c-main-footer__social">
              <div class="c-share-tools ">
                <span class="c-share-tools__label u-font--secondary-style u-font--xs u-color--white">Follow Us</span>
                <div class="c-share-tools__group">
                  <a href="https://www.facebook.com/Gothamist" class="c-share-tools__link o-icon">
                    {{> svgs/facebook}}
                  </a>
                  <a href="https://twitter.com/gothamist" class="c-share-tools__link o-icon">
                    {{> svgs/twitter}}
                  </a>
                  <a href="https://www.instagram.com/Gothamist" class="c-share-tools__link o-icon">
                    {{> svgs/instagram}}
                  </a>
                  <a href="https://www.youtube.com/channel/UCY_2VeS5Q9_sMZRhtvF0c5Q" class="c-share-tools__link o-icon">
                    {{> svgs/youtube}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-main-footer__slogan">
          <p>Gothamist is a website about New York City news, arts and events, and food, brought to you by New York Public Radio.</p>
        </div>
        <div class="c-main-footer__nav">
          <nav class="c-secondary-nav" role="navigation" aria-label="Secondary navigation">
            <ul class="c-secondary-nav__list">
              <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="https://www.gothamistllc.com">Advertising</a></li>
              <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="https://gothamist.com/contact">Contact Us</a></li>
              <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="https://wnyc.us5.list-manage.com/subscribe?u=4109fdd323aaac7078eadaa8f&id=65dbec786b">Newsletter</a></li>
              <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="https://gothamist.com/feed">RSS Feed</a></li>
              <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="https://gothamist.com/staff">Staff</a></li>
            </ul>
          </nav>
        </div>
      </div>
      {{!-- <div class="c-main-footer__col2">
        <div class="c-main-footer__signup">
          <form
            class="c-newsletter-form"
            target="_top"
            method="post"
            action-xhr="{{NEWSLETTER_ENDPOINT}}"
          >
            <div class="c-newsletter-form__graphic">
              {{> svgs/confetti}}
            </div>
            <div class="c-newsletter-form__inner u-spacing">
              <div class="c-newsletter-form__text">
                <p>
                  <span class="c-newsletter-form__icon o-icon o-icon--newsletter-form u-icon--s">
                    {{> svgs/dashed-arrow}}
                  </span>
                  Sign up for our newsletter! Share your email address to get our top stories each day.
                </p>
              </div>
              <div class="c-newsletter-form__field-group">
                <label for="newsletter" class="is-vishidden">Newsletter signup</label>
                <input type="hidden" value="{{NEWSLETTER_ID}}" name="list"/>
                <input required name="email" type="email" class="c-newsletter-form__input" placeholder="your@email.com">
                <button type="submit" class="o-button o-button--c-quaternary c-newsletter-form__button">
                  <span class="c-newsletter-form__submit-icon o-icon o-icon--newsletter-form">
                    {{> svgs/dashed-arrow}}
                  </span>
                  <span class="is-vishidden">Submit email</span>
                </button>
              </div>
              <div class="c-newsletter-form__terms">
                <label class="c-newsletter-form__terms-checkbox">
                  <input class="o-checkbox" type="checkbox" checked>
                  <p class="u-font--xs">By submitting your information, you're agreeing to receive communications from New York Public Radio in accordance with our Terms</p>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div> --}}
    </div>
    <div class="c-main-footer__brand-group">
      <div class="c-main-footer__nypr-logo">
        {{> svgs/nypr}}
      </div>
      <div class="c-toggle-box c-toggle-box--linkroll" id="toggle-box--footer">
        <button class="c-toggle-box__label o-text-with-icon" on="tap:toggle-box--footer.toggleClass(class='this-is-active')">
          <strong>View All Brands</strong>
          <span class="o-icon o-icon--caret u-icon--xs">
            {{> svgs/caret}}
          </span>
        </button>
        <div class="c-toggle-box__content">
          <nav class="c-nypr-nav" role="navigation" aria-label="NYPR brands navigation">
            <ul class="c-nypr-nav__list">
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="https://www.wnyc.org">WNYC</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="https://www.newsounds.org">New Sounds</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="https://gothamist.com">Gothamist</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="https://www.njpublicradio.org">NJPR</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="https://www.wnycstudios.org">WNYC Studios</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="https://www.thegreenespace.org">The Greene Space</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="c-main-footer__bottom">
      <div class="c-main-footer__copyright">
        <p class="u-font--secondary-style u-font--xs u-color--white">&copy; {{year}} New York Public Radio. All rights reserved.</p>
      </div>
      <div class="c-main-footer__terms-links">
        <a href="https://www.wnyc.org/terms" class="u-font--secondary-style u-font--xs"><strong>Terms of Use</strong></a>
        <a href="https://www.wnyc.org/privacy" class="u-font--secondary-style u-font--xs"><strong>Privacy Policy</strong></a>
      </div>
    </div>
  </div>
</footer>
