<div class="o-ad o-ad--leaderboard">
  <amp-ad width="300"
    height="50"
    type="doubleclick"
    data-slot="/4119129/doesnt-exist">
    <div placeholder>
      <b>Placeholder here!!!</b>
    </div>
  </amp-ad>
  <span class="o-ad__label u-font--secondary-style u-font--xxs u-color--gray">Advertisement</span>
</div>
