<amp-sidebar class="c-side-menu" layout="nodisplay" side="left" id="sidebar">
  <div class="c-side-menu__group">
    <div class="c-side-menu__branding">
      <a href="/">
        {{> svgs/gothamist}}
      </a>
    </div>
    <a href="" class="o-button c-side-menu__donate">Donate</a>
    <nav class="c-primary-nav c-primary-nav--side" role="navigation" aria-label="Primary navigation">
      <ul>
        <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link u-has-accent u-has-accent--quaternary">News</a></li>
        <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link u-has-accent u-has-accent--quaternary">Arts & Entertainment</a></li>
        <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link u-has-accent u-has-accent--quaternary">Food</a></li>
        <li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link u-has-accent u-has-accent--quaternary">Popular</a></li>
      </ul>
    </nav>
    <div class="c-side-menu__social">
      <div class="c-share-tools ">
        <span class="c-share-tools__label u-font--secondary-style u-font--xs u-color--white">Follow Us</span>
        <div class="c-share-tools__group">
          <a href="" class="c-share-tools__link o-icon">
            {{> svgs/facebook}}
          </a>
          <a href="" class="c-share-tools__link o-icon">
            {{> svgs/twitter}}
          </a>
          <a href="" class="c-share-tools__link o-icon">
            {{> svgs/reddit}}
          </a>
          <a href="" class="c-share-tools__link o-icon">
            {{> svgs/email}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-side-menu__group">
    <div class="c-side-menu__secondary-nav">
      <nav class="c-secondary-nav" role="navigation" aria-label="Secondary navigation">
        <ul class="c-secondary-nav__list">
          <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Advertising</a></li>
          <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Contact Us</a></li>
          <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Newsletter</a></li>
          <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">RSS Feed</a></li>
          <li class="c-secondary-nav__item"><a class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white" href="#">Staff</a></li>
        </ul>
      </nav>
    </div>
    <div class="u-spacing">
      <form method="get" target="_top" class="c-search c-search--side" role="dialog" action="/">
        <label for="search" class="is-vishidden">Search this site</label>
        <input name="search" type="search" class="c-search__input" value="" placeholder="Search">
        <button type="submit" class="o-button o-button--c-quaternary c-search__button">
          <span class="c-search__icon o-icon o-icon--search u-icon--xs">
            {{> svgs/search-icon}}
          </span>
          <span class="is-vishidden">Search</span>
        </button>
      </form>
      <a href="" class="o-button c-side-menu__send-story o-button--c-quaternary u-full-width">Send a Story Idea</a>
    </div>
    <div class="c-side-menu__nypr-logo">
      {{> svgs/nypr}}
    </div>
    <div class="c-side-menu__nypr-linkroll">
      <div class="c-toggle-box c-toggle-box--linkroll" id="toggle-box--side-menu">
        <button class="c-toggle-box__label o-text-with-icon" on="tap:toggle-box--side-menu.toggleClass(class='this-is-active')">
          <strong>View All Brands</strong>
          <span class="o-icon o-icon--caret u-icon--xs">
            {{> svgs/caret}}
          </span>
        </button>
        <div class="c-toggle-box__content">
          <nav class="c-nypr-nav" role="navigation" aria-label="NYPR brands navigation">
            <ul class="c-nypr-nav__list">
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">WNYC</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">New Sounds</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">Gothamist</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">NJPR</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">WNYC Studios</a></li>
              <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">The Greene Space</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="c-side-menu__group u-spacing--double">
    <div class="c-side-menu__copyright">
      <p class="u-font--secondary-style u-font--xs u-color--white">&copy; 2019 New York Public Radio. All rights reserved.</p>
    </div>
    <div class="c-side-menu__terms-links">
      <a href="" class="u-font--secondary-style u-font--xs"><strong>Terms of Use</strong></a>
      <a href="" class="u-font--secondary-style u-font--xs"><strong>Privacy Policy</strong></a>
    </div>
  </div>
</amp-sidebar>
